<div class="product-policies hidden-xs">
  <h6>Shipping</h6>
  <p>All items are handmade to order with precious metals and high end materials.
    Orders take 3-6 weeks to produce on items that have met their goal.
    They are then packed and mailed via USPS First Class mail.</p>
  <h6>Changes to Orders</h6>
  <p>Every customer has at least 24 hours to change or cancel their order before it's sent to be manufactured.</p>
  <p>To change your order, contact us at <a href="mailto:helpme@shineon.com">helpme@shineon.com</a></p>
</div>